.about-container {
  background-image: url('/assets/backgrounds/cloud.png');
  background-size: cover;
  padding: 120px 100px;
}

.about-container h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-content {
  display: flex;
  gap: 30px;
  align-items: center;
}

.about-image {
  width: 35%;
}
.about-text {
  font-family: 'Courier New', Courier, monospace;
  width: 65%;
}

.about-text p {
  margin-bottom: 15px;
  line-height: 1.6;
}
