<div class="container">
  <section id="terminal" class="terminal">
    <canvas id="gradient-canvas"></canvas>
    <app-terminal></app-terminal>
  </section>

  <section id="about" class="about">
    <app-about></app-about>
  </section>

  <section id="skills" class="skills">
    <app-skills></app-skills>
  </section>

  <section id="hobbies" class="hobbies">
    <app-hobbies></app-hobbies>
  </section>

  <section id="github-stats" class="github-stats">
    <app-github-stats></app-github-stats>
  </section>

  <section id="projects-cta" class="projects-cta">
    <app-projects-cta></app-projects-cta>
  </section>
</div>
