<div class="project-container">
  <div class="project-card" *ngFor="let project of projects">
    <div class="project-info">
      <div class="project-text">
        <h3>{{ project.title }}</h3>
        <ul>
          <li *ngFor="let tag of project.tags">{{ tag }}</li>
        </ul>
        <p *ngIf="project.date">{{ project.date }}</p>
        <p *ngFor="let description of project.description">{{ description }}</p>
        <a [href]="project.link" target="_blank">View Project</a>
      </div>
      <div class="project-tech">
        <ul>
          <li *ngFor="let tech of project.technologies">{{ tech }}</li>
        </ul>
      </div>
    </div>
    <div class="project-image">
        <img [src]="project.imageUrl" alt="{{ project.title }}" class="project-image"/>
    </div>
  </div>
</div>
