<div class="slider-navigation">
  <div class="slider-container">
    <div class="slider-inner" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
      <div class="hobbie-element" *ngFor="let hobby of hobbies" 
           [ngClass]="{'replace-background': hobby.replaceBackground}"
           [ngStyle]="hobby.replaceBackground ? 
                     {'background-image': '-webkit-linear-gradient(-20deg, rgba(255, 255, 255, 0.9) 45%, transparent 0%), url(' + hobby.imageUrl + ')'} : {}">
        <div class="hobbie-desc">
          <h2>{{ hobby.title }}</h2>
          <p *ngFor="let paragraph of hobby.description">{{ paragraph }}</p>
        </div>
        <div class="hobbie-image" *ngIf="!hobby.replaceBackground">
          <div>
            <img class="piano" [ngClass]="{'piano-shake': isPianoPlaying}" [src]="hobby.imageUrl" [alt]="hobby.title" (click)="playPiano()">
            <img class="music-notes" src="assets/images/hobbies/music-notes.gif" alt="Music Notes" class="music-notes" *ngIf="isPianoPlaying">
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="arrow left-arrow" (click)="previousSlide()">&#10094;</button>
  <button class="arrow right-arrow" (click)="nextSlide()">&#10095;</button>
  <div class="slide-indicators">
    <span *ngFor="let hobby of hobbies; let i = index" 
          [class.active]="i === currentIndex"
          (click)="currentIndex = i">
    </span>
  </div>
</div>