<div class="hobbies-container">
    <div class="slider-navigation">
      <button class="arrow left-arrow" (click)="previousSlide()">&#10094;</button>
      
      <div class="hobbie-element" [ngClass]="{'replace-background': hobbies[currentIndex].replaceBackground}"
           [ngStyle]="hobbies[currentIndex].replaceBackground ? 
                     {'background-image': '-webkit-linear-gradient(-20deg, rgba(255, 255, 255, 0.9) 45%, transparent 0%), url(' + hobbies[currentIndex].imageUrl + ')'} : {}">
        <div class="hobbie-desc">
          <h2>{{ hobbies[currentIndex].title }}</h2>
          <p>{{ hobbies[currentIndex].description }}</p>
        </div>
        <div class="hobbie-image" *ngIf="!hobbies[currentIndex].replaceBackground">
          <img [src]="hobbies[currentIndex].imageUrl" [alt]="hobbies[currentIndex].title">
        </div>
      </div>
      
      <button class="arrow right-arrow" (click)="nextSlide()">&#10095;</button>
    </div>
    
    <div class="slide-indicators">
      <span *ngFor="let hobby of hobbies; let i = index" 
            [class.active]="i === currentIndex"
            (click)="currentIndex = i">
      </span>
    </div>
</div>