.skills-cards {
  display: flex;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.skill-card {
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  cursor: pointer;
  transition: all 0.75s ease-in-out;
  flex: 1;
  overflow: hidden;
  height: 100%;
}

.web {
  background-image: url("/assets/skills/web.jpg");
}

.video-game {
  background-image: url("/assets/skills/video-game.webp");
}

.software {
  background-image: url("/assets/skills/software.jpg");
}

.devops {
  background-image: url("/assets/skills/devops.jpg");
}

.skill-icon {
  background-size: cover;
  background-position: center;
  height: 450px;
  transition: all 0.75s ease-in-out;
}

.skill-card:hover .skill-icon {
  filter: brightness(1.2);
}

.skill-card.expanded {
  flex: 1.25;
}

.skill-card.reduced {
  flex: 0.5;
}

.skill-card.expanded .skill-icon {
  background-position: center;
}

.skill-desc {
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: 275px;
}

.skill-desc h2 {
  font-size: 2.25rem;
  white-space: nowrap;
  font-weight: 900;
  padding: 0;
  margin: 0;
}

.skill-desc span {
  margin: 20px 0;
}

.technologies-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.technologies-icon {
  width: 42px;
}