.skills-cards {
  display: flex;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.skill-card {
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  cursor: pointer;
  transition: all 0.75s ease-in-out;
  flex: 1;
  overflow: hidden;
  height: 100%;
}

.devops {
  background-image: url("/assets/skills/devops.jpg");
}

.skill-icon {
  background-size: cover;
  background-position: center;
  height: 500px;
  transition: all 0.75s ease-in-out;
}

.skill-card:hover .skill-icon {
  filter: brightness(1.2);
}

.skill-card.expanded {
  flex: 3;
}

.skill-card.reduced {
  flex: 0.5;
}

.skill-card.expanded .skill-icon {
  background-position: center;
}

.skill-desc {
  font-size: 14px;
}