<div class="skills-cards">
  <div class="skills-cards">
    <div class="skill-card" (click)="expandCard($event)">
      <div class="skill-icon devops"></div>
      <div class="skill-desc">Description text</div>
    </div>
    <div class="skill-card" (click)="expandCard($event)">
      <div class="skill-icon devops"></div>
      <div class="skill-desc">Description text</div>
    </div>
    <div class="skill-card" (click)="expandCard($event)">
      <div class="skill-icon devops"></div>
      <div class="skill-desc">Description text</div>
    </div>
    <div class="skill-card" (click)="expandCard($event)">
        <div class="skill-icon devops"></div>
        <div class="skill-desc">Description text</div>
    </div>
  </div>
</div>
