.terminal-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.terminal-container {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  background-color: #212121;
  padding: 30px;
  border-radius: 12px;
  width: 40vw;
  margin-bottom: 10vh;
}

.terminal-header p {
  color: white;
}

.terminal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.terminal-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.terminal-button {
  border-radius: 9999px;
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--button-color, #808080);
}

.terminal-button.red {
  --button-color: #ff4081;
}

.terminal-button.yellow {
  --button-color: #ffeb3b;
}

.terminal-button.green {
  --button-color: #4caf50;
}

.terminal-text {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
  color: var(--text-color, white);
}

.terminal-text.green {
  --text-color: #4caf50;
}

.terminal-text.white {
  --text-color: #ffffff;
}

.terminal-text.grey {
  --text-color: #bdbdbd;
}

.terminal-input-container {
  display: flex;
  align-items: center;
  position: relative;
  color: white;
}

.terminal-prompt {
  color: white;
  margin-right: 8px;
}

.terminal-input {
  background: transparent;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  padding: 0;
  flex: 1;
  caret-color: transparent;
  outline: none;
}

.terminal-cursor {
  width: 8px;
  height: 1.2em;
  margin-left: -5px;
  background-color: white;
  display: inline-block;
  position: absolute;
  left: calc(1em + 8px + var(--input-width, 0px));
  opacity: 0;
}

.terminal-cursor.active {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
