/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

section {
  padding: 80px 20px;
}

.about, .hobbies, .github-stats {
  background-color: rgb(52, 52, 52);
  color: white;
}

.terminal-container {
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  padding: 0;
}
