/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.github-stats {
  background-color: rgb(52, 52, 52);
}

.terminal-container {
  padding: 0;
  height: calc(100vh - var(--header-height, 0px));
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.skills {
  padding: 0;
}

.invisible-btn {
  padding: 0;
  background: transparent;
  cursor: pointer;
  border: none;
}
